= simple_form_for(warranty, :html => { :class => 'form-horizontal' }) do |f|
  %legend= t("warranties.#{action_name}.title")
  = f.input :name
  = f.input :expires_on, :as => :string, :input_html => { :class => 'datepicker' }
  = f.input :warranty
  = f.input :photo
  - if !warranty.new_record? && warranty.photo?
    = f.input :remove_photo, :as => :boolean

  .form-actions
    = f.submit :class => 'btn-primary'
    = link_to t('text.action_cancel'), warranties_path, :class => 'btn'
