= simple_form_for(warranty, :html => { :class => 'form-horizontal' }) do |f|
  %legend= t("warranties.#{action_name}.title")
  = f.input :name
  = f.input :expires_on, :as => :string, :input_html => { :class => 'datepicker' }
  = f.input :warranty
  = f.input :photo
  - if !warranty.new_record? && warranty.photo?
    = f.input :remove_photo, :as => :boolean
  = f.input :brand_name, :input_html => { :autocomplete => 'off', :data => { :provide => 'typeahead', :source => brand_names} }
  = f.input :purchased_on, :as => :string, :input_html => { :class => 'datepicker' }
  = f.input :notes

  .form-actions
    = f.submit :class => 'btn-primary'
