%li[warranty]
  = link_to(image_tag(warranty.photo_url(:thumb)), warranty)
  .caption
    %h5
      = highlight(warranty.name, @search.search_attributes["name_or_notes_contains"])
      - if warranty.notes
        = tb_popover(highlight(warranty.notes, @search.search_attributes["name_or_notes_contains"]), :tag => :i, :title => Warranty.human_attribute_name("notes"), :class => 'icon-info-sign')
    %dl
      %dt= "#{Warranty.human_attribute_name("expires_on")}:"
      %dd= l(warranty.expires_on, :format => :default)
      - if warranty.brand_name
        %dt= "#{Warranty.human_attribute_name("brand_name")}:"
        %dd= warranty.brand_name
      - if warranty.purchased_on
        %dt= "#{Warranty.human_attribute_name("purchased_on")}:"
        %dd= l(warranty.purchased_on, :format => :default)
    %p
      = link_to t('text.action_edit'), edit_warranty_path(warranty), :class => 'btn'
      = link_to t('text.action_destroy'), warranty, :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'
