%section
  %aside
    %ul.nav.nav-list
      %li
        = link_to "Add Warranty", new_warranty_path

  %section
    %ul.warranties
      - @warranties.each do |warranty|
        = content_tag_for(:li, warranty) do
          = link_to(image_tag(warranty.warranty_url(:thumb)), warranty)
          %h5= warranty.name
          %dl
            %dt Expires on:
            %dd= warranty.expires_on
          %p
            = link_to "Destroy", warranty, :method => :delete, :confirm => "Are you sure?", :class => 'btn'
