= render 'action_bar', :warranty => @warranty


.page-header
  %h1= @warranty.name

%p= image_tag(@warranty.photo_url(:thumb)) if @warranty.photo?
%p
  %strong= "#{Warranty.human_attribute_name("expires_on")}:"
  = l(@warranty.expires_on, :format => :default)
