<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :javascripts
    = csrf_meta_tags
  %body{ :class => "#{ controller.controller_name }" }
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
      = link_to "Warranties", root_path, :class => "brand"
      %nav
        %ul
          %li.active= link_to "Warranties", warranties_path
          %li= link_to "Contact Us", '#'
      %nav.nav.pull-right
        %li.divider-vertical
        %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      %p.navbar-text.pull-right
        = t('header.current_user.html', :current_user => link_to(current_user.email, edit_user_registration_path))

    %div{:role => "main"}
      %section
        = render "side"

        %section
          = render "flashes"
          = yield
    %footer
